<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>Price Per Day:</strong>
  <%= @listing.price_per_day %>
</p>

<%= link_to 'Back', home_index_path %>