<h1 id=pHeader>Jamal's BnB</h1>
<p> Welcome to the best BnB site for quality stay at affordable prices! </p>

<h1>Listing articles</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Address</th>
    <th>Price Per Day</th>
    <th></th>
  </tr>
 
  <% @listings.each do |listing| %>
    <tr>
      <td><%= listing.title %></td>
      <td><%= listing.address %></td>
      <td><%= listing.price_per_day %></td>
      <td><%= link_to 'Show', listing_path(listing) %></td>
    </tr>
  <% end %>
</table>

<style>
#pHeader {
  text-align: center;
  font-size: 60px;
}

p {
  text-align: center;
  font-size: 30px;
}
</style>